.heading{
    /* border: 2px solid red; */
    background-color: #FFFEA9;
    justify-content: center;
    text-align: center;
    /* font-family: 'Moo Lah Lah', cursive; */
    /* font-family: 'Roboto Serif', sans-serif; */
    font-family: 'Gideon Roman', cursive;
    /* font-size: 60px; */

    width: 70%;
    margin-top: 15px;
    position: relative;
    left: 150px;
    box-shadow: 2px 2px 4px  grey;
    padding: 5px 0px;
    border-radius: 10px;
    font-size: 50px;
    margin-bottom: 40px;
    /* margin-top: 10px; */
    /* background-color: white; */
}

.mainbox2{
    /* background-color: rgba(128, 128, 128, 0.11); */
    /* background-color: rgb(239, 245, 248); */
    height: 82vh;
    overflow: scroll;
    justify-content: center;
    /* text-align: center; */


}

.mainbox3{
    /* border: 2px solid red; */
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    width: 250px;
    /* background-color: #ECF0F3; */
    background-color: WHITE;
    margin: 15px 13px;
    box-shadow: 1px 2px 5px grey;
    /* border-radius: 10px; */
    /* box-shadow: 18X,18Y,20,0,#D1D9E6,100%;
    box-shadow: -18X,-18Y,20,0,#FFFFFF,80%; */

}

.mainbox3 img{
    width: 250px;
    height: 250px;
    /* border-radius: 10px; */
    /* border: 2px solid green; */
}

.naming{
    display: flex;
    /* background-color: azure; */
    padding-bottom: 7px;
    /* padding: 10px 10px; */

}

.topic{
    /* border: 2px solid green; */
    width: 220px;
    overflow:scroll;
    justify-content: center;
    padding-top: 5px;
    /* top: 50%; */
    /* width: ; */
    /* text-align: center; */
    /* overflow: hidden; */
}

.fas{
    /* border: 2px solid red; */
  
    color:aqua;
    padding: 0px 5px;
    /* width:0px; */

}
.fa-arrow-circle-down{
    /* width: 30px; */
    font-size: 25px;
    /* border-radius: 50px; */
}


