<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySpace</title>
    <link rel="stylesheet" href="../logincampus/campus.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=Roboto&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=IBM+Plex+Sans:wght@400;500&family=Roboto&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <h2>MySpace</h2>

        </div>
        

        
        <div class="middle">
            <ul class="middleul">
                <li>Home</li>
                <li>Teams</li>
                <li>Project</li>
                <li>Contact us</li>
            </ul>

        </div>
        <div class="right">
            <div class="right2">
                <p>Sign in</p>

            </div>

        </div>
 
        
    </nav>
    <div class="containercampus">

   
    <div class="campus1">
        <div class="campusimage">
           <img src="https://webcampus.bmsce.in/assets/img/aboutus.png">
        </div>
        <div class="campuslogin">
            <h3>Welcome to LOGIN Portal</h3>
            <p class="campus2">To keep connected with us please login with your personal credentials</p>
            <a href="http://google.com" class="btn btn1">Student Sign In</a>
            <a href="http://google.com" class="btn btn2">Faculty Sign In</a>
            <a href="http://google.com" class="btn btn3">Admin Sign In</a>
            <p class="campusp3">If any queries or issues kindly contact
                <a href="mail:campus@bmsce.ac.in">campus@bmsce.ac.in</a>
            </p>
        </div>

    </div>
</div>
<footer class="footerlogincampus">
    <p class="campus4">DEVELOPED BY <span>VISHNU KUMAR & VIJAYA</span></p>
</footer>
    
</body>
</html>