<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <title>Document</title>
    <link rel="stylesheet" href="../otpsuccess/otpsuccess.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="l1">
    </div>
    <div class="nav">
        <P class= "p1">MySpace</P>
        <!-- <img src="../slogin/images/img3.png"> -->
        <!-- <p class="p2">Contact</p> -->
 
     </div>
     <div class="mainmiddlediv">
         <div class="q1">
            <h2>Thanks for Confirmation</h2>
         </div>
         <div class="q5">
             <h2>Confirmation successfull . Login to see your account</h2>

         </div>
         <div class="q2">
            <!-- <i class="fa-solid fa-badge-check fa-2xl"></i> -->
            <!-- <i class="fa-solid fa-user"></i> -->
            <h1>✅</h1>

         </div>
         <div class="q3">
             <a href="/">Home</a>

         </div>

        
     </div>
    



</body>
</html>