<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../ssignup/ssignup.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
    <% if(message){  %>
        <div style= "text-align: center ; margin-bottom : 4px " class="alert alert-<%= message.type %>">
          <button type="button" class="close" data-dismiss="alert"> &times; </button>
          <strong> <%= message.intro %></strong> <%= message.message %>
        </div>
    
        <% } %>

    <div class="l1">
    </div>
    <div class="nav">
        <P class= "p1">MySpace</P>
        <!-- <img src="../slogin/images/img3.png"> -->
        <!-- <p class="p2">Contact</p> -->
 
     </div>
    <div class="c2">
        <form action="/studentsignup" method="POST" >
            <div class="c3">
                <p class="pp3">SIGN UP</p>

            </div>
            <div class="main">

            
            <div class="c4">
                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname"  required/>
            </div>
            <div class="c4">
                <label for="lname">Last Name: </label>
                <input type="text" name="lname" id="lname"  required/>

            </div>
            <div class="c4 c6">
                <label for="username">Email:</label>
                <input type="email" name="username" id="email"  required/>

            </div>
            <div class="c4 c7">
                <label for="usn">USN:</label>
                <input type="text" name="usn" id="usn"  required/>

            </div>
            <div class="c4 c5">
                <div class="c8" >
                    <label for="branch">Branch:</label>
                    <input type="text" name="branch" id="Branch"  required/>
                </div>
                <div class="c9">
                    <label for="semester">Semester:</label>
                    <input type="text" name="semester" id="semester"  required/>
                </div>
                
               
            </div>
            <div class="c4 c10">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"  required/>

            </div>
        </div>
            <div class="btn4">

   
            <button type="submit" class="btnsignup btn2" >SIGN UP</button>
            <button type="reset" class="btncancel btn2" >RESET</button>
        </div>
        </form>


   
    </div>
</body>
</html>