.heading{
    /* border: 2px solid red; */
    background-color: #FFFEA9;
    /* background-color: rgba(26, 122, 167, 0.493); */
    justify-content: center;
    /* color: rgba(219, 48, 48, 0.815); */
    text-align: center;
    /* font-family: 'Moo Lah Lah', cursive; */
    /* font-family: 'Roboto Serif', sans-serif; */
    font-family: 'Gideon Roman', cursive;
    /* font-size: 60px; */

    width: 70%;
    margin-top: 15px;
    position: relative;
    left: 150px;
    box-shadow: 2px 2px 4px  grey;
    padding: 5px 0px;
    border-radius: 10px;
    font-size: 50px;
    margin-bottom: 40px;
    /* text-align: center; */
    /* margin-top: 10px; */
    /* background-color: white; */
}

/* .mainbody{ */
    /* background-color: rgb(240, 245, 248); */
    /* padding: 10px 1px; */
/* } */

.belowheading{
    /* border: 2px solid  greenyellow; */
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 25px;
}

.belowheading h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    /* border: 2px solid red; */
    border-bottom: 2px solid grey;
    padding: 0px 2px;

}
/* .heading{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 2px solid red;
    padding: 0px 2px;

} */

.belowheading  a{
    text-decoration: none;
    padding: 7px 5px;
    background-color: blue;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    word-spacing: normal;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    letter-spacing: 2px;
}

.moving{
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px 10px;
}

.eventmainbox{
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    overflow:scroll;
    height: 65vh;
}

.insidesmall{
    /* border: 2px solid orangered; */
    box-sizing: border-box;
    width: 350px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    box-shadow: 1px 2px 5px grey;
    font-family: 'Roboto', sans-serif;
    padding: 15px 25px;
    position: relative;
    

}

.smallboxes{
    /* border: 2px solid greenyellow; */
    width: 350px;
    height: 180px; 
    padding: 10px 10px;
    margin: 20px 5px;
    

}

.title{
    font-weight: 600;
    font-size: 19px;
    /* border: 2px solid green; */
    display: inline-block;
    margin: 10px 2px;
    padding: 2pxpx 2px;
}

.sdate {
    color: grey;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    word-spacing: 7px;

}
.edate {
    color: grey;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    word-spacing: 7px;
    margin-bottom: 20px;
}

.detail{
    color: black;
    border: 2px solid grey;
    position: absolute;
    right:20px;
    padding: 5px 10px;
    top: 20px;
    text-decoration: none;
}

.button12 a{
    /* border: 2px solid green; */
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(0 ,178 , 189);
    border-radius:7px;
    box-shadow: 1px 1px 5px grey;

}

.button12{
    justify-content: center;
    text-align: center;
    word-spacing: 20px;

}