*{
    margin: 0px 0px;  
    padding: 0px 0px;
    box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
    }
  
  .l1{
      background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url('./images/b.jpeg');
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(6px);
      
      /* z-index: -1; */
      background-attachment: fixed;
  
      
      
      /* z-index: -2; */
      /* opacity: 0.8; */
      
      
  }

/* .alert{
    
    background-color: aqua;
    margin-bottom: 0px;

} */



  .nav{
    z-index: 2; 
    position: absolute;
    top: 0%;
    color: white;
    /* display:flex; */
    display: grid;
     grid-auto-flow: column;
    grid-column-gap: 27rem;
    font-family: 'Roboto', sans-serif;
    
}
.nav img{
    width: 8rem;
}
.p1{
    font-size: 3rem;
    margin-left: -10rem;
    margin-top: 4rem;
}

.mainmiddlediv{
    /* border: 2px solid grey; */
    box-shadow: 2px 2px 4px  grey;
    color: white;
    /* border: 2px solid red; */
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    padding: 20px; 
    background-color:rgba(0, 255, 255, 0.11);
    
    /* text-align: center; */
    transform: translate(-50%, -50%);

}

.v1{
    border: 2px solid green;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: greenyellow;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.v2{
    /* border: 2px solid green; */
    /* font-size: 20px; */
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
}

.v2 input{
    /* border: 2px solid red; */
    border: none;
    width: 40%;
    font-size: 30px;
    padding: 0px 30px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid grey;
    text-align: center;
}
.v4{
    /* border: 2px solid red; */
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.v3{
    text-align: center;
    /* border: 2px solid red; */
    padding: 10px 0px;
    margin: 20px 0px;
}

.btn11{
    font-size: 20px ;
    padding: 10px 50px;
    background: none;
    /* border:1px solid green; */
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  grey;
    margin: 0px 10px;
}

.btnsubmit{
    background-color: rgba(172, 255, 47, 0.658);
}

.btnresend{
    background-color: red;
}
